.side-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: calc(100% - 270px);
    background-color: #fafafa;
}

.sidenav {
    max-width: 270px;
    width: 270px;
    background-color: white;
}

.app-bar {
    height: 64px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.routes {
    flex: 1;
    background-color: #fafafa;
    overflow: auto !important;
    margin: 1px;
}