.side-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: calc(100% - 300px);
    background-color: #fafafa;
}

.sidenav {
    max-width: 300px;
    width: 300px;
    background-color: white;
}

.app-bar {
    height: 64px;
    background-color: #fff;

}

.routes {
    flex: 1;
    background-color: #F7F8FA;
    overflow: auto;
    height: calc(100%-64px);
    margin: 1px;
    
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

}