/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif !important;
}

body {
  margin: 0;
}

code {
  font-family: 'Poppins', sans-serif;
}


.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
}

.m-label {
  margin-bottom: 5px;
  color: #66788A;
  font-weight: 500;
  font-size: 20px;
}

.text-pri-col{
  color: #66788A;
}

.breadcrumb * {
  margin-right: 10px;
}

.nav-title:hover {
  text-decoration: underline;
}


.l-blue {
  background-color: rgba(51, 102, 255, 0.05);
}


progress {
  border-radius: 10px;
  height: 10px;
}

progress::-webkit-progress-bar {
  background-color: #b8b8b8;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #388e3c;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  /* style rules */
}

.primary {
  color: #3366FF !important;
}

.search input[type="text"]{
  height: 50px;
}
.search .ub-mb_24px{
  margin-bottom: 0px !important;
}